/*search*/
#search{
  cursor: text;
  padding: 10px;
  margin-top: 10px;
  height: 40px;
  background-color: #f5f5f5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 100px;
}


#botonsearch{
  font-size: 20px;
  padding-top: 20px;
  cursor: pointer;}
/*tienda*/
.categorias{
  margin-left: 20px;
    margin-top: 20px;
}
.titulo-secciones{
    font-family: "Nike TG",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.secciones{
    line-height: 1;
    list-style: none;
    text-align: none;
    font-family: "Nike TG",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    padding-top: 15px;
}


#content{
  
    margin-left: 55px;
padding-top: 5px;
    margin-right: 0px;
}

.compra{
  width: 1300px;
    height: 3700px;
    display: flex;
}


.col{
height: 0px ;
}


.agregaralcarrito{
  cursor: pointer;
  margin-left: 220px;
}

.quitarcarrito{
  background-color: white;
  border: 2px solid orangered;
  border-radius: 20px;
  font-family: "bebas";
  color: orangered;
  width: 70px;
  height: 30px;
  margin-left: 240px;


}

#shoes{
    color: #111;
    text-decoration: none;
}

#shirt{
  color: #111;
  text-decoration: none;
}

#newproductos{
  color: #111;
  text-decoration: none;
}

#pants{
  color: #111;
  text-decoration: none;
}


#Accessories{
  color: #111;
  text-decoration: none;
}


.card{
  padding-left: 0px;
    line-height: 0px;
}
.card-body{
    padding-left: 0px;
    line-height: 0px;
}
.card-title{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 4px;
    color: orangered;
}

.card-text-producto{
    font-weight: bold;
    margin-bottom: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    font-size: 16px;
    line-height: 1.5;
}

.card-text-genero{
    font-size: 16px;
    color: #757575;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}

.card-text-precio{
    margin-top: 30px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;

}



/*footer*/

footer{
    margin-top: 300px;
    padding-top: 10px;
    color: white;
    height: 330px;
    background-color:#111;
}

.info-footer{
    padding-top: 30px;
    display: flex;
}


.list{
    line-height: 25px;
}
.footer_txt{
    
    list-style: none;
    text-align: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 2.5;
    font-weight: 500;
    font-size: 12px;  
}

.footer_txt2{
    font-size: 12px;
    line-height: 2;
    list-style:none;
    color: #757575;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.footerfot{
    display: flex;
    justify-content: space-between;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    margin-left: 30px;
    padding-top: 20px;
    width: 95%;
    height: 50px;
    border-top: 1px solid #7e7e7e;
}
.flex{
    display: flex;
}
.location{
    padding-right: 5px;
    font-size: 15px;
    color: white;
}


.ubicacion-txt{
    font-size: 12px;
    line-height: 2;
    list-style:none;
    color: #757575;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
    color: white;
}

.copyright{
    padding-left: 8px;
}

.guias{
    display: flex;
}
.guias p{
    padding-right: 8px;
}
.seccion2{
margin-left:100px;
}

.seccion3{
    margin-left: 100px;
}

.seccion4{
    margin-left: 500px;
}

.seccion4 i{

margin: 7px;
color: #111;
background-color: #757575;
border: 9px solid #757575;
border-radius: 100%;
font-size: 17px;
}

#shop:hover{
padding-top: 10px;
transition: 0.5s;
cursor: pointer;
}

#shop{
  color: black;
    font-size: 20px;
    padding-top: 15px;
    padding-right: 20px;
    float: right;
}

/*carrito*/

#carritodecompras{
  padding-top: 20px;
  color: #111;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#cantidadcarrito{
width: 40px;
padding-left: 13px;}


.quitardelcarrito{
cursor: pointer;
color: red;
}


.fa-times{
  border: 2px solid red;
  background-color: red;
  border-radius: 5px;
  color: white;
}

/*api dolar*/
.secciondolar{
  padding-left: 0px;
}

#cotizar{
  font-family: Arial, Helvetica, sans-serif
}
#nombredolar{
  list-style: none;
  color: green;
}
#compradolar{
    list-style: none;
}
#ventadolar{
    list-style: none;

}


/*boton search nav superior*/
#searchnav{
 visibility: hidden;
 font-size: 0px;
 width: 0px;
}

#botonsearchnav{
  font-size: 0px;
  visibility: hidden;
}


@media only screen and (max-width: 375px){/*iphone 6/7/8*/

  #search{
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
  }
  
  #botonsearch{
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    font-size: 0px;
   }

   #searchnav{
     width: 200px;
    visibility: visible;
    cursor: text;
    padding: 10px;
    margin-top: 10px;
    height: 40px;
    background-color: #f5f5f5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 100px;
  }
  
  #botonsearchnav{
    visibility: visible;
    font-size: 20px;
    padding-top: 20px;
    cursor: pointer;}

  #shop{
      color: black;
        font-size: 20px;
        padding-top: 15px;
        padding-right: 10px;
        float: right;
    } 
  .indumentaria{
    padding-right: 50px;
    justify-content: center;
    display: flex;
    margin: 0px;
    padding: 0;
    list-style: none;
}

.indumentaria li a{
  
    font-size: 14px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    padding-top: 15px;
}
  #nikelogo{
      padding-left: 10px;
  }
  #nike{
      width: 60%;
  }
  #user{
      font-size: 20px;
      padding-right: 3px;
  }
  .categorias{
    display: flex;
    margin-left: 5px;
      margin-top: 20px;
      
    
  }
  .titulo-secciones{
      font-family: "Nike TG",Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: bold;
      font-size: 20px;
      
  }
  #cotizar{
    visibility: hidden;
    font-size: 0px;
    
  }
  .secciones{
    
  
      margin-left: 20px;
      font-size: 15px;
      line-height: 1;
      padding-top: 15px;
  }
  
  .secciondolar{
    font-size: 0px;
    visibility: hidden;
  }

  .compra{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 3000px;
  }

  #content{ 
    width: 375px !important;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: 200px 200px;
}

.card-text-genero{
  font-size: 10px;
  color: #757575;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.col{
  width: 50px !important;
  height: 400px ;
  }
  .card{
    height: 0px;
    width: 160px !important;
    padding-left: 0px;
    line-height: 0px;
  }
.agregaralcarrito{
  cursor: pointer;
  margin-left: 20px;
}


#carritodecompras{
  padding-top: 450px;
  color: #111;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#cantidadcarrito{
width: 40px;
padding-left: 13px;}


footer{
  width: 350x;
  margin-top: 0px;
  height: 550px;
}
.info-footer{
  padding-top: 30px;
}
.list{
  line-height: 25px;
}
.footer_txt{
  
  list-style: none;
  text-align: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  line-height: 2.5;
  font-weight: 500;
  font-size: 10px;  
}

.footer_txt2{
  font-size: 10px;
  line-height: 2;
  list-style:none;
  color: #757575;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.footerfot{
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  margin-left: 20px;
  padding-top: 20px;
  width: 90%;
  height: 50px;
  border-top: 1px solid #7e7e7e;
}
.flex{
  display: flex;
}
.location{
  padding-right: 5px;
font-size: 15px;
color: white;
}

.ubicacion-txt{
  font-size: 12px;
  line-height: 2;
  list-style:none;
  color: #757575;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
  color: white;
}

.copyright{
  padding-left: 7px;
}

.guias{
  display: flex;
}
.guias p{
  padding-right: 8px;
}
.seccion2{
margin-left:10px;
}

.seccion3{
  margin-left: 10px;
}

.seccion4{
  margin-left: 10px;
}

.seccion4 i:hover{
  border: 9px solid #F5F5F5;
  background-color:#F5F5F5;
}
.seccion4 i{

margin: 7px;
color: #111;
background-color: #757575;
border: 9px solid #757575;
border-radius: 100%;
font-size: 17px;
}

.modal-content {
  background-image: url(../img/fondonikeloginiphone.png);
  margin-left: 10px;
  width: 336px !important; 
  height: 400px;
}
.input-group{
  margin-bottom: 10px;
  margin-top: 0px;
}
.fondo_login{
  margin-top: 130px;
  border: none;
}

#botonlogin{ 
 width: 130px;
}

#mensaje{
  margin-bottom: 5px;
  font-size: 13px;
  font-family:sans-serif;
  font-weight: bold;
}




} 

@media only screen and (max-width: 470px){/*iphone 6/7/8 PLUS*/

  #search{
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
  }
  
  #botonsearch{
    cursor: pointer;
    visibility: hidden;
    margin: 0px;
    padding: 0px;
    width: 0px;
    font-size: 0px;
   }

   #searchnav{
     width: 200px;
    visibility: visible;
    cursor: text;
    padding: 10px;
    margin-top: 10px;
    height: 40px;
    background-color: #f5f5f5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 100px;
  }
  
  #botonsearchnav{
    visibility: visible;
    font-size: 20px;
    padding-top: 20px;
    cursor: pointer;}

  #shop{
      color: black;
        font-size: 20px;
        padding-top: 15px;
        padding-right: 10px;
        float: right;
    } 
  .indumentaria{
    padding-right: 50px;
    justify-content: center;
    display: flex;
    margin: 0px;
    padding: 0;
    list-style: none;
}

.indumentaria li a{

    font-size: 15px;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    display: block;
    padding: 5px;
    padding-top: 15px;
}
  #nikelogo{
      padding-left: 10px;
  }
  #nike{
      width: 60%;
  }
  #user{
      font-size: 20px;
      padding-right: 5px;
  }
  .categorias{
    display: flex;
    margin-left: 5px;
      margin-top: 20px;
      
    
  }
  .titulo-secciones{
      font-family: "Nike TG",Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: bold;
      font-size: 20px;
      
  }
  #cotizar{
    visibility: hidden;
    font-size: 0px;
    
  }
  .secciones{
    
      display: flex;
      margin-left: 20px;
      font-size: 15px;
      line-height: 1;
      padding-top: 15px;
  }
  #shirt{
    padding-left: 5px;
  }
  #pants{
    padding-left: 5px;
  }
  #shoes{
    padding-left: 5px;
  }
  #accessories{
    padding-left: 5px;
  }
  .secciondolar{
    font-size: 0px;
    visibility: hidden;
  }

  .compra{
    display: flex;
    flex-direction: column;
    width: 20px;
    height: 3000px;
  }

  #content{ 
    width: 375px !important;
    margin-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    display: grid;
    grid-template-columns: 200px 200px;
}

.card-text-genero{
  font-size: 10px;
  color: #757575;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.col{
  width: 50px !important;
  height: 400px ;
  }
  .card{
    height: 0px;
    width: 190px;
    padding-left: 0px;
    line-height: 0px;
  }
.agregaralcarrito{
  cursor: pointer;
  margin-left: 20px;
}


#carritodecompras{
  padding-top: 450px;
  color: #111;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

#cantidadcarrito{
width: 40px;
padding-left: 13px;}


footer{
  width: 350x;
  margin-top: 0px;
  height: 550px;
}
.info-footer{
  padding-top: 30px;
}
.list{
  line-height: 25px;
}
.footer_txt{
  
  list-style: none;
  text-align: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  line-height: 2.5;
  font-weight: 500;
  font-size: 10px;  
}

.footer_txt2{
  font-size: 10px;
  line-height: 2;
  list-style:none;
  color: #757575;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.footerfot{
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: flex;
  margin-left: 20px;
  padding-top: 20px;
  width: 90%;
  height: 50px;
  border-top: 1px solid #7e7e7e;
}
.flex{
  display: flex;
}
.location{
  padding-right: 5px;
font-size: 15px;
color: white;
}

.ubicacion-txt{
  font-size: 12px;
  line-height: 2;
  list-style:none;
  color: #757575;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
  color: white;
}

.copyright{
  padding-left: 7px;
}

.guias{
  display: flex;
}
.guias p{
  padding-right: 8px;
}
.seccion2{
margin-left:10px;
}

.seccion3{
  margin-left: 10px;
}

.seccion4{
  margin-left: 10px;
}

.seccion4 i:hover{
  border: 9px solid #F5F5F5;
  background-color:#F5F5F5;
}
.seccion4 i{

margin: 7px;
color: #111;
background-color: #757575;
border: 9px solid #757575;
border-radius: 100%;
font-size: 17px;
}

.modal-content {
  background-image: url(../img/fondonikeloginiphone.png);
  margin-left: 10px;
  width: 336px !important; 
  height: 400px;
}
.input-group{
  margin-bottom: 10px;
  margin-top: 0px;
}
.fondo_login{
  margin-top: 130px;
  border: none;
}

#botonlogin{ 
 width: 130px;
}

#mensaje{
  margin-bottom: 5px;
  font-size: 13px;
  font-family:sans-serif;
  font-weight: bold;
}




} 
